<?xml version="1.0" encoding="ISO-8859-1"?>
<!--<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 
	2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> -->

<web-app>
	<servlet>
		<servlet-name>TaxonSearch</servlet-name>
		<servlet-class>service.Service</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaxonSearch</servlet-name>
		<url-pattern>/service.do</url-pattern>
	</servlet-mapping>
	<!--  >servlet-mapping>
		<servlet-name>Ejemplo</servlet-name>
		<url-pattern>service.jsp</url-pattern>
	</servlet-mapping -->

</web-app>