<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
	<!-- This servlet runs for searching species when user click in one of the list canonicals -->
	<servlet>
		<servlet-name>TaxonClick</servlet-name>
		<servlet-class>org.ciat.ita.service.TaxonClickServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaxonClick</servlet-name>
		<url-pattern>/service.do</url-pattern>
	</servlet-mapping>
	
	<!-- This servlet runs for searching a particular specie in the input text field. -->
	<servlet>
		<servlet-name>TaxonSearch</servlet-name>
		<servlet-class>org.ciat.ita.service.TaxonSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaxonSearch</servlet-name>
		<url-pattern>/taxonSearch.do</url-pattern>
	</servlet-mapping>
	
	<!-- This servlet runs for searching species when user click in one of the list canonicals -->
	<servlet>
		<servlet-name>InfoSpecie</servlet-name>
		<servlet-class>org.ciat.ita.service.InfoSpecieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoSpecie</servlet-name>
		<url-pattern>/infoSpecie.do</url-pattern>
	</servlet-mapping>
	
	<!-- This servlet runs for searching species when user click in one of the list canonicals -->
	<servlet>
		<servlet-name>InfoSpecieEcosystem</servlet-name>
		<servlet-class>org.ciat.ita.service.InfoSpecieEcosystemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoSpecieEcosystem</servlet-name>
		<url-pattern>/infoSpecieEcosystem.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>principal.html</welcome-file>
	</welcome-file-list>

</web-app>