<?xml version="1.0" encoding="ISO-8859-1"?>
<!--<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 
	2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> -->

<web-app>
	<!-- Taxon Click Service -->
	<servlet>
		<servlet-name>TaxonClick</servlet-name>
		<servlet-class>org.ciat.ita.service.Service</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaxonClick</servlet-name>
		<url-pattern>/service.do</url-pattern>
	</servlet-mapping>
	
	<!-- Taxon Search Service -->
	<servlet>
		<servlet-name>TaxonSearch</servlet-name>
		<servlet-class>org.ciat.ita.service.TaxonSearchService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaxonSearch</servlet-name>
		<url-pattern>/taxonSearch.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>menuiabin.html</welcome-file>
	</welcome-file-list>

</web-app>