<?xml version="1.0" encoding="ISO-8859-1"?>
<Menu>
   <category id="threat-menu" name="Threats">
      <item type="radio" name="Threats" class="Threats" id="Threats" >Population accessiblity</item>
      <item type="radio" name="Threats" class="Threats" id="Threats" >Conversion to agriculture</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats" >Fires</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats" >Grazing presure</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats" >Infraestructure</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats" >Oil/Gas</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats" > Recent conversion</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats" >Aggregate threat</item>
	</category>
	<category id="bioclim-menu" name="Bioclim">
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P1 Annual mean temperature (ºC)</item>
      <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P2 Mean diurnal temperature range (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P3 Isothermality N/A</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P4 Temperature seasonality (standard deviation) (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P5 Maximum temperature of warmest month (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P6 Minimum temperature of coldest month (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P7 Temperature annual range (ºC)</item>
      <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P8 Mean temperature of wettest quarter (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P9 Mean temperature of driest quarter (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P10 Mean temperature of warmest quarter(ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P11 Mean temperature of coldest quarter (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P12 Annual precipitation (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P13 Precipitation of wettest month (mm)</item>
      <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P14 Precipitation of driest month (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P15 Precipitation seasonality (coefficient of variation) %</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P16 Precipitation of wettest quarter (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P17 Precipitation of driest quarter (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P18 Precipitation of warmest quarter (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" >P19 Precipitation of coldest quarter (mm)</item>
	 
	 
	</category>
	<category  id="taxon-menu" name="Species">
	</category>
	<category id="summaries-menu" name="Summaries">	
	<item type="checkbox" name="Summaries" class="uno" id="Summaries" >Protected Areas</item>
	<item type="checkbox" name="Summaries" class="richness" id="Summaries" >Current species richness</item>
    </category>
</Menu>