	html, body, div, 
	h1, h2, h3, h4, h5, h6,
	a, font, img,
	strong, sub, sup,
	b, u, i, center,
	ul, li
													 {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;
														vertical-align: top;	background: transparent;}
	body 											{	line-height: 1;}
	ol, ul 											{	list-style: none;}
	blockquote, q 									{	quotes: none;}
	ins 											{	text-decoration: none;}
	del 											{	text-decoration: line-through;}
	table 											{	border-collapse: collapse;	border-spacing: 0; }

	a img 											{	border:none } 
 
/*
	G E N E R A L   S T Y L E S
*/
	html, body 				{ 	margin: 0; padding: 0; text-align: center; width: 100%; }
	body					{	color: #333; font-family: "Trebuchet MS", Tahoma, Arial, sans-serif; font-size: 62.5%; line-height: 1.7em; text-align: center;}
	h1, h2 					{	font-weight:bold;font-size:4em; font-family: Georgia, Times, "Times New Roman", serif; }
	a:link, a:visited		{	color: #000; text-decoration: underline; }
	a:hover					{	color: #f4A774; background: url(../images/minus.gif) no-repeat 10px center;}
	a:active				{	color: #000; text-decoration: underline; }
/*
	TREE STYLE
*/
	#treeStyle						{	width: 960px; margin: 50px auto 0;}
	#treeStyle h2 					{	font-size: 4em; margin-bottom: 50px;}
	ul.general						{	text-align: left;}
	ul.general li 					{	font-size: 15px; padding: 5px 0; }
	ul.general li a 				{	width: 120px; background: url(../images/plus.gif) no-repeat 10px center; padding-left: 25px; }
	ul.general li a.desplegable		{	background: url(../images/plus.gif) no-repeat 10px center; }	
	ul.general li li				{	font-size: 14px; padding-left: 25px;}	
	ul.general li a ul li a         {   background: url(../images/plus.gif) no-repeat 10px center; }
	
/*
	SEARCH STYLE
*/		
	.searchSpecie			    	{z-index:2;position:absolute;left:160px;}
	.ui-widget						{ 	color: #333; font-family: "Trebuchet MS", Tahoma, Arial, sans-serif; text-align: left;}  
	

