<?xml version="1.0" encoding="ISO-8859-1"?>
<Menu>
   <category id="threat-menu" name="Threats">
      <item type="radio" name="Threats" class="Threats" id="Threats"  click="mapa();muestra_imagen()">Population accessiblity</item>
      <item type="radio" name="Threats" class="Threats" id="Threats"  click="mapa();muestra_imagen()">Conversion to agriculture</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats"  click="mapa();muestra_imagen()">Fires</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats"  click="mapa();muestra_imagen()">Grazing presure</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats"  click="mapa();muestra_imagen()">Infraestructure</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats"  click="mapa();muestra_imagen()">Oil/Gas</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats"  click="mapa();muestra_imagen()"> Recent conversion</item>
	  <item type="radio" name="Threats" class="Threats" id="Threats"  click="mapa();muestra_imagen()">Aggregate threat</item>
	</category>
	<category id="bioclim-menu" name="Bioclim">
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P1 Annual mean temperature (ºC)</item>
      <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P2 Mean diurnal temperature range (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P3 Isothermality N/A</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P4 Temperature seasonality (standard deviation) (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P5 Maximum temperature of warmest month (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P6 Minimum temperature of coldest month (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P7 Temperature annual range (ºC)</item>
      <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P8 Mean temperature of wettest quarter (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P9 Mean temperature of driest quarter (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P10 Mean temperature of warmest quarter(ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P11 Mean temperature of coldest quarter (ºC)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P12 Annual precipitation (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P13 Precipitation of wettest month (mm)</item>
      <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P14 Precipitation of driest month (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P15 Precipitation seasonality (coefficient of variation) %</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P16 Precipitation of wettest quarter (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P17 Precipitation of driest quarter (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P18 Precipitation of warmest quarter (mm)</item>
	  <item type="radio" name="Bioclim" class="Bioclim" id="Bioclim" click="mapa();muestra_imagen()">P19 Precipitation of coldest quarter (mm)</item>
	 
	 
	</category>
	<category  id="taxon-menu" name="Species">
	</category>
	<category id="summaries-menu" name="Summaries">	
	<item type="checkbox" name="Summaries" class="uno" id="Summaries" click="mapa();muestra_imagen()">Protected Areas</item>
	<item type="checkbox" name="Summaries" class="uno" id="Summaries" click="mapa();muestra_imagen()">Current species richness</item>
    </category>
</Menu>