* { margin: 0; padding: 0; }
* { outline: none; }
a {	text-decoration:none; }
body, div { font-family: 'arial'; }
ul { 
	list-style: none;
	}
#imageIabin{
	width:240px;
	position:relative;
	float: left;	
	}
#imageCiat{
	width:200px;	
	position:relative;
	left:350px;
	top:10px;	
	}
#descriptionProject{
	width:300px;
	position:absolute;
	left:450px;
	text-align: center;
	font-size: 25px;
	}
.showHideMenu{
	position: relative;
	top: 15px;
}
.showHideMenu label {
	position:relative;
	bottom:30px;
	left:10px;
	color:#ffffff;
}
#moveIcon {
	position:absolute;
	right: 117px;
	bottom: 41px;
	border: 0px;
}
#show{
	width:145px;
	height:45px;
	border: 0px;
	left: 15px;
	top: 4px;
	position: relative;
}
#hide{
	width:145px;
	height:45px;
	border: 0px;
	left: 15px;
	top: 4px;
	position: relative;
}
#principal{
	height:500px;
	align:center;
	valign:top;
	scope:row;
}

#navigation {
	margin:1px;
	padding:0px;
	text-indent:0px;	
	width:200px;	
}
#specieEcosystem{
	display: none;	
	}
#navigation a.head {
	font-weight: bold;
	padding: 0 15px 0 0;
	text-align: center;
	height: 30px;
	background: transparent url(../images/btn_right.png ) no-repeat scroll right top;
	clear: left;
	font-size: 12px;
	display: block;
	position: relative;
	}

#navigation a.head span{	
	background: transparent url(../images/btn_left.png ) no-repeat;
	clear: left;
	font-size: 12px;
	display: block;
	padding: 0 0 0 15px;
	position: relative;
	white-space: nowrap;
	height: 30px;
	line-height: 25px;
	color: #FFFFFF;	
	}
#navigation a.head:hover {
	background-position: 100% -30px;
	}

#navigation a.head:hover span{
	background-position: 0% -30px;
	}
#navigation a.current {
	background-color:#FFFF99;
	}
#navigation ul.submenuContent {
	border-width:3px;
	border-style: inset;
	margin:2px;
	padding:5px;
}
#navigation li {	
	list-style:none outside none; 
	display:block;
	color:#BEF014;
}
#both li:hover {
	color:#FFFFFF;	
}

#navigation ul.submenuContenthover.hover {
	color:red;
}

#navigation .utilityButtons {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6cbf5f), color-stop(1, #548c26) );
	background:-moz-linear-gradient( center top, #6cbf5f 5%, #548c26 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cbf5f', endColorstr='#548c26');
	background-color:#6cbf5f;	
	border:1px solid;
	border-color:white;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:9px;
	padding:4px 7px;
	text-decoration:none;
	position: relative;
	top: 5px;
	left: 10px;
	}.utilityButtons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #548c26), color-stop(1, #6cbf5f) );
	background:-moz-linear-gradient( center top, #548c26 5%, #6cbf5f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#548c26', endColorstr='#6cbf5f');
	background-color:#548c26;	
}
.utilityButtons:active {
	position:relative;
	top:1px;
}

#navigation .submenuButtons {
	display:block;
	padding-right: 15px;
	height: 30px;
}

hr.submenuDivision {
	color: #ffffff;
	background-color: #ffffff;
}

#navigation #opacitySpecie {
	margin-left: 15px;
	margin-top: 5px;
}

.scaleImage {
	width: 100%;
}

#treeStyle{
	width: 980px;
	margin: 50px ;
	}
#treeStyle h2{
	font-size: 4em;
    margin-bottom: 50px;
}

/* OPACITY BAR */

#navigation .opacityBar {
	width: 75px;
	display: inline-block;
	left: 10px;
	top: 1px;
}

.divScaleOpacity {
	background-color: #9FB3A4;
	padding-bottom: 10px;
	padding-top: 5px;
	margin-top: 2px;
	margin-bottom: 5px;
	height: 40px;
    color:black;	
}

#labelmenu {	
	left:75px;
	font-weight: bold;
}
#labelOpacity {
	font-size:9px;
	position:relative;
	left:5px;
}
	
.opacityPercentage {
	font-size:10px;
	font-weight: bold;	
	position:relative;
	left:10px;	
	}
	
.showScaleOpacity{
	display: none;
	}

.ui-slider-horizontal {
	height: 0.4em;
}

.ui-slider .ui-slider-handle {
	height: 0.9em;
	width: 0.7em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #7BAB7C; /* color selector */
	border: 1px solid #3E6540; /*color borde selector*/
}

.ui-widget-header {
	background: #396511 /* color barra progreso izquierda */
}
.ui-widget-content {
	background: #CBEEBC /* color barra progreso derecha */
}

/* RESIZABLE ICON */
.ui-icon {
	bottom: -9px;
	right: -7px;
}

/* SEARCH SPECIES POPUP */

#treeStyle ul.general {
	text-align: left;
	width: 300px;
	}
#treeStyle ul.general li  {
	font-size: 15px;
	color: #333;
	}
#treeStyle ul.general li a:link, a:visited, a:active{
	color: #000;
	}
#treeStyle ul.general li a:hover {
	color: #f4A774;
	background: url(../images/minus.gif) no-repeat 10px center;}
#treeStyle ul.general li a {
	width: 20px;
	background: url(../images/plus.gif) no-repeat 10px center;
	padding-left: 25px;
	}
#treeStyle ul.general li.specieElement a  {	
	width: 20px;
	background: #ffffff;
	padding-left: 25px;
	}
#treeStyle ul.general li.specieElement a:hover {
	background: #ffffff;
	color: #f4A774;
	}

#treeStyle ul.general li ul li {
	width: 400px;
	font-size: 11px;
	display: block;
	padding-left: 25px;
	}
#treeStyle ul.general li ul li.rankElement{
	width: 400px;
	font-style:italic;
	}
#treeStyle ul.general li ul li a.rankElement{
	width: 400px;
	font-style:italic;
	}
#treeStyle #loaderGift-big {
	padding-left: 150px;
	padding-top: 50px
	}
#treeStyle #error{
	font-size: 15px;
	color: #610B0B;
	padding-left: 100px;
	padding-top: 50px;
	}
#treeStyle ul.search{
	text-align: left;
	width: 300px;
	font-size: 11px;
	}
#treeStyle ul.search li{
	text-align: left;
	width: 200px;
	padding-left: 25px;
	color: black;
	}
#treeStyle ul.search li.rankElement{
	width: 400px;
	font-size:11px;
	font-style:italic;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0x;
	}
#treeStyle ul.search li ul li{
	width: 400px;
	display: block;
	padding-left: 25px;
	}
#treeStyle ul.search li ul li.rankElement{
	width: 400px;
	font-size: 11px;
	font-style:italic;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 25px
	}
#treeStyle ul.search li a{
	width: 400px;
	background: url(../images/plus.gif) no-repeat 10px center;
	padding-left: 25px;
	}
#treeStyle ul li.specieElement a{
	font-size:11px;
	height:2px;
	width: 2px;
	background: #ffffff;
	padding-left: 15px;
	}
#treeStyle ul.search li a:link, a:visited, a:active {
	color: #000000;
	}
#treeStyle ul.search li a:hover{
	color: #f4A774;
	background:ffffff;
	}
#treeStyle ul li.rankElement a:hover{
	font-size:11px;
	color: #f4A774;
	}


/*
	SEARCH STYLE
*/		
	.searchSpecie			    	{z-index:2;position:absolute;left:160px;}
	.ui-widget						{ 	color: #333; font-family: "Trebuchet MS", Tahoma, Arial, sans-serif; text-align: left;font-size: 12px;}  



/******STYLE POPUP **************/
#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
	}
#popupContact{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:500px;
	width:500px;
	overflow-x:hidden;
	overflow-y:auto;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-size:13px;
}
#popupContact h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
	}
#popupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
	}
#both {
	text-align:left;
	border:0pt none;
	font-size:11px;
	vertical-align:baseline;
	margin:0;
	padding:0;	
	margin-bottom:1em;
}
.submenuContent {
	background-color: rgba(100,100,100, 0.7);
	background-color:#646464;	
}
.submenuLayout {
	display: block;
	height: 120px;
	overflow: auto;	
	position: relative;
	top: 10px;
}

.submenuLayout li{
	line-height: 18px;
}

.submenuLayout input{
l	ine-height: 1px;
}
#tab{
	width:100%;
	height:900px;
	border:0px;
	position: center;
	}

#th{
	height:10px;
	position:top;
	border-color:#FFFFFF;
	background-color:#FFFFFF;
	vertical-align:top;
	}

#div{
	z-index:2;
	position:absolute;
	top:160px;
	left:6px;
	width:170px;
	height:100px;
	}
#map{
	z-index:1;
	position:absolute;
	top:100px;
	left:5px;
	right:5px;
	width:99%;
	height:500px;
	bottom:70px;
	}
#imageWait{
	position:relative;
	top:300px;
	text-align: center;
	}

/*
	SHOW SPECIES INFO TABLE STYLE
*/	

.table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align: right;
	width: 600px;
	border:0px;
	border-bottom:1px;
	}

.table th {
	font-size: 11px;		
	font-family: Trebuchet MS, Arial;
	width: 52px;
	}

.table th:HOVER{	
	color: #666;
	}

.table tr:HOVER{
	border-bottom: 1px dashed #bbb;
	background: #fcfcfc;
	color: #666;
	}

.table td:HOVER{
	border-bottom: 1px dashed #bbb;
	background: #fcfcfc;
	color: #666;
	}
.table .row {
	font-size: 10px;
	font-weight:bold;
	background-color: #BCD56C;
	color: #34484E;
	font-family: Trebuchet MS, Arial;
	text-align:left;
	}
.table .row td {
	border-left-width: 1px;
	border-top-width: 1px;
	border-left-style: solid;
	border-top-style: solid;
	border-left-color: #A4C4D0;
	border-top-color: #A4C4D0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #A4C4D0;
	border-bottom-color: #A4C4D0;
	text-align:left;	
	width: 52px;
	}	
	.table .row th {
	border-left-width: 1px;
	border-top-width: 1px;
	border-left-style: solid;
	border-top-style: solid;
	border-left-color: #A4C4D0;
	border-top-color: #A4C4D0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #A4C4D0;
	border-bottom-color: #A4C4D0;
	text-align:left;
	width: 52px;
	}

#sliderOpacity-frame > div.sliderOpacity { padding: 10px !important; margin-top:5px};
